[Unit]
Description=Choose For Me

[Service]
ExecStart=/usr/bin/node <BOT_FOLDER_PATH>/bot.js
Restart=always
# The user requires read/write permissions in the bot folder (or only in the .node-persist/storage folder. If the script is in your home folder, put your username here)
User=<USERNAME>
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
# The group requires read/write permissions in the bot folder (or only in the .node-persist/storage folder. If the script is in your home folder, put your username here)
Group=<GROUP>
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=<BOT_FOLDER_PATH>

[Install]
WantedBy=multi-user.target
